<div class="container">

  <!-- <div *ngFor="let category of categories | async">
    <p>
      {{category.CatID}}
      {{category.CatName}}
    </p>
  </div> -->
  <!-- 
<div *ngFor="let customer of customers | async">
  <p>
    {{customer.id}}
    {{customer.CustID}}
    {{customer.FullName}}
    {{customer.Country}}
    {{customer.City}}
    {{customer.State}}
    {{customer.PostCode}}
    {{customer.Region}}
    {{customer.Segment.SegID}}
    {{customer.Segment.SegName}}
  </p>
</div> -->

<div *ngFor="let customer of customers | async">
  <app-customer [customerID]=customer.id [customer]="customer"></app-customer>
</div>

<router-outlet></router-outlet>
</div>
